<div class="jumbotron">
    <h1>Super Zapatos</h1>
   
    
</div>

<div class="row">
    
    <div class="col-md-4">
        <h2>Amazing Design</h2>
        <img src="~/Content/ultraboostx_item_selector_product_tcm76-123988.png" style="align-content:center stretch" />
    </div>
    
</div>
